<div id="<%= dom_id recipe %>">
    <div class="row row-cols-2 mt-5">
      <div>
        <h5>Recipe #<%= recipe.id %>: <%= recipe.name %> </h5>
          <div class="d-flex">
            <%= button_to "Delete this recipe", user_recipe_path(@user, recipe), method: :delete, class: "btn btn-danger" %>
            <%= link_to "View this recipe", user_recipe_path(@user, recipe), class: "btn btn-primary" %>
          </div>
      </div>
      <div class="pt-4">
        <p class=""><%= recipe.description %></p>
      </div>
  </div>
</div>
