<div class="mx-auto">
    <h5 class="mx-auto" style="width: 70%">Recipe #<%= @recipe.id %>: <%= @recipe.name %> </h5>
      <div class="mx-auto mt-5" style="width: 70%">
        <div class="d-flex justify-content-between">
            <h5 class="">Preparation time: <%= @recipe.preparation_time %></h5>
            <% if can? :edit, @recipe %>
              <div class="form-check form-switch">
                <%= form_with(model: @recipe, url: user_recipe_path(@recipe), method: :patch, id: 'recipe-form') do |form| %>
                    <%= form.check_box :public, {class: 'toggle-switch form-check-input', id: 'public-toggle', onchange: 'submit()'}%>
                    <%= form.label :public, class: 'toggle-switch-label form-check-label', for: 'public-toggle' %>
                    <%= form.submit 'Update Recipe', id: 'submit-button', style: 'display: none;' %>
                <% end %>
              </div>
            <% end %>
        </div>
        <div class="mt-5">
            <h5 class="">Cooking time: <%= @recipe.cooking_time %></h5>
        </div>
        <div class="mt-5">
            <h5 class="">Description: <%= @recipe.description %></h5>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <%= button_to "Shopping List", user_recipe_path(@user, @recipe), method: :delete, class: "btn btn-info" %>
            <%= link_to "Add Ingredient", user_recipe_path(@user, @recipe), class: "btn btn-primary" %>
        </div>
        <% if can? :delete, @recipe %>
            <div class="d-flex mt-5">
                <%= button_to "Delete this recipe", user_recipe_path(@user, @recipe), method: :delete, class: "btn btn-danger" %>
            </div>
        <% end %>
    </div>
</div>
