<div id="<%= dom_id food %>">
      <tr>
        <td><%= food.id %></td>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <td><%= food.user.name %></td>
        <td><%= link_to "Show this food", user_food_path(@user, food) %></td>
      </tr>
</div>
