<div id="<%= dom_id food %>">
<table class="table mx-auto text-center m-5" style="width: 80%">
  <thead>
    <td>Id</td>
    <td>Name</td>
    <td>measurement units</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Owner</td>
  </thead>
      <tr>
        <td><%= food.id %></td>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <td><%= food.user.name %></td>
      </tr>
</table>
</div>
